@media (max-width: 576px) {
  .cards {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .cards {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .cards {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (min-width: 993px) {
  .cards {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.d-flex.align-items-center.justify-content-between.rounded-pill.bg-light.px-3.py-2.mt-4.info {
  background-color: white !important;
}
.imgcompany {
  width: 330px !important;
  height: 219px !important;
}
/* .cardcompany {
  width: 360px !important;
  height: 542px !important;
} */
.cardbody {
  height: 272px !important
    ;
}
.btnsorange {
  justify-content: start !important;
  gap: 8px !important;
}
.avalable {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 30px;
}
.titorange {
  font-size: 43px;
  margin-top: 25px;
}
